@{
    ViewData["Title"] = "LoginController";
}

<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="en-US">
 <head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <meta name="generator" content="2018.0.0.379"/>
  
  <title>Log In</title>
  <!-- CSS 
  <link rel="stylesheet" type="text/css" href="css/site_global.css?crc=223211964"/>
  <link rel="stylesheet" type="text/css" href="LoginStyleSheet.css" id="pagesheet"/>-->
  <link href="LoginStyleSheet.css" rel="stylesheet" type="text/css" />
   </head>
 <body>

  <div class="clearfix" id="page"><!-- group -->
   <div class="clearfix grpelem" id="pu730"><!-- group -->
    <div class="clip_frame" id="u730"><!-- image -->
     <img class="block" id="u730_img" src="~\Images\green9-crop-u730.jpg?crc=200722682" alt="" width="1529" height="659"/>
    </div>
    <a class="nonblock nontext clip_frame" id="u723" href="help.html"><!-- image --><img class="block" id="u723_img" src="~/Images/olivia%20white110x94.png?crc=395428233" alt="" width="110" height="93"/></a>
   </div>
   <div class="clearfix grpelem" id="pu726-4"><!-- column -->
    <div class="Paragraph-Style clearfix colelem" id="u726-4"><!-- content -->
     <p>WELCOME</p>
    </div>
    <div class="colelem" id="u729"><!-- simple frame --></div>
    <div class="clearfix colelem" id="u727-4"><!-- content -->
     <p>Please log in below:</p>
    </div>
    <div class="clearfix colelem" id="pwidgetu732"><!-- group -->
     <form class="form-grp clearfix grpelem" id="widgetu732" method="post" enctype="multipart/form-data" action=""><!-- none box -->
      <div class="clearfix grpelem" id="u733-4"><!-- content -->
      </div>
      <div class="clearfix grpelem" id="u734-4"><!-- content -->
      </div>
      <div class="clearfix grpelem" id="u743-4"><!-- content -->
      </div>
      <button class="submit-btn NoWrap clearfix grpelem" id="u744-3" type="submit" value="&nbsp;" tabindex="3"><!-- content -->
       <div style="margin-top:-13px;height:13px;">
        <p>&nbsp;</p>
       </div>
      </button>
      <div class="fld-grp clearfix grpelem" id="widgetu749" data-required="true"><!-- none box -->
       <label class="fld-label actAsDiv clearfix grpelem" id="u752-4" for="widgetu749_input"><!-- content --><span class="actAsPara">PASSWORD:</span></label>
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u750-4"><!-- content --><input class="wrapped-input" type="text" id="widgetu749_input" name="custom_U749" tabindex="2"/><label class="wrapped-input fld-prompt" id="widgetu749_prompt" for="widgetu749_input"><span class="actAsPara">Enter Your Password</span></label></span>
      </div>
      <div class="fld-grp clearfix grpelem" id="widgetu735" data-required="true"><!-- none box -->
       <label class="fld-label actAsDiv clearfix grpelem" id="u738-4" for="widgetu735_input"><!-- content --><span class="actAsPara">EMAIL:</span></label>
       <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u737-4"><!-- content --><input class="wrapped-input" type="text" id="widgetu735_input" name="custom_U735" tabindex="1"/><label class="wrapped-input fld-prompt" id="widgetu735_prompt" for="widgetu735_input"><span class="actAsPara">Enter Your Email</span></label></span>
      </div>
     </form>
     <div class="clearfix grpelem" id="u958"><!-- group -->
      <div class="pointer_cursor rounded-corners clearfix grpelem" id="u960"><!-- group -->
       <a class="block" href="question-explanation.html"><!-- Block link tag --></a>
       <a class="nonblock nontext clearfix grpelem" id="u959-4" href="question-explanation.html"><!-- content --><p>LOG IN</p></a>
      </div>
     </div>
    </div>
    <div class="clearfix colelem" id="u728-4"><!-- content -->
     <p>please click here if you have trouble logging in</p>
    </div>
   </div>
   <div class="verticalspacer" data-offset-top="474" data-content-above-spacer="585" data-content-below-spacer="61"></div>
   <div class="clearfix grpelem" id="u725-4"><!-- content -->
    <p>by Hurt Technologies, Inc.</p>
   </div>
  </div> <!-- -->
  <!-- Other scripts -->
   </body>
</html>
